@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@400;500&display=swap');

:root {
    --font-base: "Lemonada", cursive;

    --white: #ffffff;
    --black: #000000;
    --primary-color: #1F2235;
    --secondary-color: #24263B;
    --red-color: #D00404;
    --font-input-color: #2C2E43;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    font-family: var(--font-base);
}